<!doctype HTML>
<head>
    <meta charset="UTF-8">
    <title>Anuncios</title>
</head>
<body>
<div>
    <div layout="row">

        <md-input-container>
            <md-select ng-model="category" placeholder="Elige la categoria">
                <md-option ng-value="c.title" ng-click="categoryAdv(c)" ng-repeat="c in classes">{{c.title}}</md-option>
            </md-select>

            <button class="btn btn-outline-primary" ng-if="boton" ng-click="resetAdv()">Mostrar todos los anuncios</button>
        </md-input-container>

            <md-input-container>
                <md-select ng-model="dist" placeholder="Elige la distancia">
                        <md-option ng-value="d.distance"ng-click="distanceAdv(d)" ng-repeat="d in distances">{{d.distance}}</md-option>
                </md-select>
            </md-input-container>
    </div>

    <div class="grid" >
        <div class="row">
            <div ng-repeat="adv in advs" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="txthover">
                    <img src="../images//{{adv.owner}}-{{adv.title}}.png" height="389" width="400">
                    <div class="txtcontent" >
                            <div class="simpletxt">
                            <h3 class="name">{{adv.title}}</h3>
                            <p ng-if="adv.description.length<=360">{{adv.description}}</p>
                            <p ng-if="adv.description.length > 360">{{adv.description|limitTo:365}}...</p>
                            <h4 class="price">{{adv.exchange}}</h4>
                            <p>{{adv.category}} </p>
                            <button ng-click="getAdv(adv)">READ MORE</button><br>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
