<!doctype HTML>
<div ng-controller="advCtrl">
    <div layout="row">
        <md-input-container>
            <md-select ng-model="category" placeholder="Elige la categoria" md-selected-text="categoryAdv()"  >
                <md-optgroup label="items">
                    <md-option ng-value="t.title" ng-repeat="t in classes">{{t.title}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>
    <div class="grid"  style="background-color: transparent">
        <div class="row">
            <div ng-repeat="adv in advs" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="txthover">
                    <img src="../img/anun1.jpg" height="389" width="338">
                    <div class="txtcontent">
                        <div class="simpletxt">
                            <h3 class="name">{{adv.title}}</h3>
                            <p>{{adv.description}} </p>
                            <h4 class="price">{{adv.exchange}}</h4>
                            <p>{{adv.category}} </p>
                            <button ng-click="getAdv(adv)">READ MORE</button><br>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
