<md-dialog style="background-color: white">
    <div ng-controller="advCtrl"  ng-cloak class="md-inline-form" >
        <br>
        <div layout="row" layout-align="center center">
            <md-input-container id="offer">
                <label style="color: #000000;">Oferta</label>
                <input ng-model="offer">
            </md-input-container>
        </div>
        <br>
        <div layout="row" layout-align="center center">
            <b class="button" ng-click="doOffer()">Enviar oferta</b>
        </div>
    <br>
    </div>
</md-dialog>