<div ng-controller="userCtrl">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="/#!/Perfil" name="Profile" ng-click="x()">
            Perfil
        </md-nav-item>
        <md-nav-item md-nav-href="/#!/Anuncios" name="Advs" ng-click="y()">
            Anuncios
        </md-nav-item>
        <md-nav-item md-nav-href="/#!/NewAdv" name="NewAdv" ng-click="z()">
            Nuevo anuncio
        </md-nav-item>

        <form class="navbar-form navbar-left" style="padding-top:5px ">
            <div class="input-group">
                <input ng-model="search.word" type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="search()" type="submbit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <md-menu>
            <md-button ng-click="openMenu($mdMenu, $event)">
                Reviews pendientes<span class="badge badge-primary">{{reviews2.length}}</span>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="rev in reviews2">
                    <md-button ng-click="doReview(rev.name)">
                        <md-icon md-svg-icon="../img/like.svg" md-menu-align-target></md-icon>
                        {{rev.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-button ng-click="openChats($mdMenu, $event)">
                Chats abiertos<span class="badge badge-primary">{{chats.length}}</span>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="chat in chats">
                    <md-button ng-click="chatdetail(chat)">
                        <md-icon md-svg-icon="../img/email.svg" md-menu-align-target></md-icon>
                        {{chat.advname}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <span flex> </span>
        <p ng-if="profile == null">Registrate o inicia sesión</p>
        <p ng-if="profile != null">Bienvenido {{profile}}</p>
        <md-button ng-if="profile == null" ng-click="showAdvanced($event)" class="md-fab md-primary">
            <md-icon md-svg-src="../img/login.svg" class="fa"></md-icon>
        </md-button>

        <md-button ng-if="profile != null" class="md-fab md-mini" ng-click="logoutWeb()">
            <md-icon md-font-icon="fa fa-sign-out"></md-icon>
        </md-button>

    </md-nav-bar>

</div>