<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body id="back">
<div ng-cloak>
    <div>
        <h1>Perfil de {{name}}</h1>
        <img ng-src="{{image}}" width="200" height="200" style="padding-top: 20px">

        <br><br>
        <h3>Ubicación</h3>

        <ng-map zoom="16" center="{{location}}">
            <marker position="{{location}}"/>
            <!--<shape name="circle" radius="400" center="[40.74,-74.18]" radius="4000" />-->
            <control name="overviewMap" opened="true" />
        </ng-map>

        <br><br>
        <h3>Anuncios publicados</h3>

        <div class="grid" >
            <div class="row">
                <div ng-repeat="adv in advs" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="../images//{{adv.owner}}-{{adv.title}}.png" height="389" width="400">
                        <div class="txtcontent" >
                            <div class="simpletxt">
                                <h3 class="name">{{adv.title}}</h3>
                                <p ng-if="adv.description.length<=360">{{adv.description}}</p>
                                <p ng-if="adv.description.length > 360">{{adv.description|limitTo:365}}...</p>
                                <h4 class="price">{{adv.exchange}}</h4>
                                <p>{{adv.category}} </p>
                                <button ng-click="getAdv(adv)">READ MORE</button><br>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <br><br>
        <h3>Reviews</h3>
        <p ng-if="!reviews.length>0">&nbsp&nbsp&nbsp&nbsp No hay ninguna review publicada</p>

        <md-list-item class="md-3-line" ng-repeat="rev in reviews" ng-click="null">
            <img ng-src="../imagesprof//{{rev.reviewerid}}.png" class="md-avatar"/>
            <div class="md-list-item-text" layout="column">
                <h3>{{ rev.reviewername }}</h3>
                <h4>{{ rev.title }}</h4>
                <p>{{ rev.description }}</p>
                <p>Valoración: {{ rev.rating }}</p>
            </div>
        </md-list-item>
        <br>
</div>
</div>
</body>
