<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<div class="img">
    <a target="_blank" href="../img/giphy.gif">
        <img src="../img/giphy.gif" alt="Gif" width="600" height="400">
    </a>
</div>

<div ng-controller="userCtrl" ng-cloak>
    <md-input-container  >
        <label >Nuevo nombre</label>
        <input ng-model="newName">
    </md-input-container>
    <md-input-container>
        <label>Contraseña</label>
        <input ng-model="userPass">
    </md-input-container>
    <md-input-container>
        <label>Nueva contraseña</label>
        <input ng-model="newPass" type="password">
    </md-input-container>
    <md-input-container>
        <label>Nueva contraseña</label>
        <input ng-model="newPass2" type="password">
    </md-input-container>

    <md-button class ="md-raised md-primary md-hue-1" ng-click="updatePass()">Actualizar contraseña</md-button>
    <md-button class ="md-raised md-primary md-hue-1" ng-click="updateName()">Actualizar nombre</md-button>
<div>
    <md-button class="md-primary md-raised" ng-click="showPrompt($event)"  >
        Eliminar esta cuenta
    </md-button>
</div>
</div>
</body>
