<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div class="img">
    <a target="_blank" href="../img/giphy.gif">
        <img src="../img/giphy.gif" alt="Gif" width="600" height="400">
    </a>
</div>

<div ng-controller="userCtrl" ng-cloak>
    <div>
        <br>
    <md-input-container  >
        <label >Nuevo nombre</label>
        <input ng-model="newName">
    </md-input-container>
        <button  type="button" class="btn btn-outline-primary" ng-click="updateName()">Actualizar nombre</button>
    </div>
    <div>
    <md-input-container>
        <label>Contraseña</label>
        <input ng-model="userPass">
    </md-input-container>
    <md-input-container>
        <label>Nueva contraseña</label>
        <input ng-model="newPass" type="password">
    </md-input-container>
    <md-input-container>
        <label>Nueva contraseña</label>
        <input ng-model="newPass2" type="password">
    </md-input-container>
        <button type="button" class="btn btn-outline-primary" ng-click="updatePass()">Actualizar contraseña</button>

    </div>

<div>
    <button type="button" class="btn btn-outline-danger" ng-click="showPrompt($event)">Eliminar esta cuenta</button>

</div>
</div>
</body>
