<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
<div ng-controller="userCtrl" ng-cloak>
    <div>
        <img ng-src="{{image}}" alt="Gif" width="200" height="200" style="padding-top: 20px">

        <input type="text"  ng-autocomplete ng-model="autocomplete" options="options" details="details"/>

        <p>{{location}}</p>
        <div map-lazy-load="https://maps.google.com/maps/api/js" style="width:300px;height:300px;"
             map-lazy-load-params="{{googleMapsUrl}}">
            <ng-map id="map" zoom="16" center="{{latlng}}">
                <marker position="{{latlng}}" />
                <control name="overviewMap" opened="true" />
            </ng-map>
        </div>
    </div>
    <div>
        <br>
        <button  type="button" class="btn btn-outline-primary" ng-click="updateLocation()">Actualizar localizacion</button>
    <md-input-container  >
        <label >Nuevo nombre</label>
        <input ng-model="newName">
    </md-input-container>
        <button  type="button" class="btn btn-outline-primary" ng-click="updateName()">Actualizar nombre</button>
    </div>
    <div>
    <md-input-container>
        <label>Contraseña</label>
        <input ng-model="userPass">
    </md-input-container>
    <md-input-container>
        <label>Nueva contraseña</label>
        <input ng-model="newPass" type="password">
    </md-input-container>
    <md-input-container>
        <label>Nueva contraseña</label>
        <input ng-model="newPass2" type="password">
    </md-input-container>
        <button type="button" class="btn btn-outline-primary" ng-click="updatePass()">Actualizar contraseña</button>

    </div>

<div>
    <button type="button" class="btn btn-outline-danger" ng-click="showPrompt($event)">Eliminar esta cuenta</button>
</div>
    <div class="btn btn-outline-primary" ngf-select="upload($file)">Upload on file select</div>


    <div ng-repeat="adv in advs" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">


        <div class="txthover">
            <img src="../images/389x400/{{adv.owner}}-{{adv.title}}.png" height="389" width="400">
            <div class="txtcontent" >
                <div class="simpletxt">
                    <h3 class="name">{{adv.title}}</h3>
                    <p ng-if="adv.description.length<=360">{{adv.description}}</p>
                    <p ng-if="adv.description.length > 360">{{adv.description|limitTo:365}}...</p>
                    <h4 class="price">{{adv.exchange}}</h4>
                    <p>{{adv.category}} </p>
                    <button ng-click="getAdv(adv)">READ MORE</button><br>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>


</div>
</body>
