<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>

<md-input-container align="center" style="width:150px">
    <label>Titulo</label>
    <input ng-model="title" type="text">
</md-input-container>
<div><md-input-container align="center" style="width:500px">
    <label>Description</label>
    <input ng-model="description" type="text">
</md-input-container></div>

<div style="width: 50%"><md-slider md-discrete ng-model="rating" step="1" min="0" max="5">
</md-slider></div>
<button type="button" class="btn btn-outline-primary bt" ng-click="sendR()">Valorar al usuario
</button>
</body>
</html>