 #login:focus{
     color: white;
     border-color: white;
 }
 #login .md-input{
    color: white;
    border-color: white;
}
 #login2:focus{
     color: white;
     border-color: white;
 }
 #login2 .md-input{
     color: white;
     border-color: white;
 }
